@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: no-preference) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16-Regular.ttf') format('truetype'); /* Use format 'truetype' for .ttf files */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DotGothic16', sans-serif;
  color: var(--foreground);
  background: var(--background);
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}